.section-about {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.section-about__card-set {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.section-about__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.card-img {
  min-height: 260px;
}
.card__content {
  padding-top: 30px;
}
.card__heading {
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.card__social {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}
.social__list {
  @extend %list;
  display: flex;
}
.social__item {
  display: inline-flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  @extend %icon;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;
  background-position: center;
  border-radius: 50%;

  transition: background-color 250ms $cubic-bezier, color 250ms $cubic-bezier;

  &:hover,
  :focus {
    background-color: $accent-color;
    background-position: center;
    color: #ffffff;
  }
}
.social__link .link__icon {
  width: 20px;
  height: 20px;
}
