.header-page {
  border-bottom: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.radio__title {
  @extend %visually-hidden;
}
.radio__list {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.radio__item:not(:last-child) {
  margin-right: 8px;
}
.radio__button {
  @extend %button;
  display: block;
  padding: 6px 22px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;

  border-radius: 4px;

  &:hover,
  :focus {
    color: #ffffff;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    transition: background-color 250ms $cubic-bezier, color 250ms $cubic-bezier;
  }
}
.card-set {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-set > .card-set__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.card-set .card {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.card-set .card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__content {
  padding: 20px 19px;
}
.card__content > .card__heading {
  margin-bottom: 4px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: left;
}
.card__content > .card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
}
.card__box-img {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 23px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms $cubic-bezier, opacity 250ms $cubic-bezier;
}
.card:hover .card__overlay {
  transform: translateY(0);
  opacity: 1;
}
.overlay__text {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}
